.center {
    margin: auto;
    width: 50%;
    border: 10px solid green;
    padding: 10px;
}

@charset "UTF-8";
/* CSS Document */

body {
    width: "100%";
    margin: auto;
    text-align: center;
    background: #2E4053;
}

#countdown {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

ul.navbar {
    list-style-type: none;
    overflow: hidden;
    width: 930px;
    width: "80%";
    text-align: center;
}

ul.navbar li {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
}

a.navbar:link,
a.navbar:visited {
    display: block;
    width: 220px;
    font-weight: bold;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 4px;
}

a.navbar:hover,
a.navbar:active {
    background: rgba(0, 0, 0, 0);
    color: orange;
    box-shadow: inset 0 0 0 3px #orange;
}

img.one {
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 200px;
}