@charset "UTF-8";
/* CSS Document */
body	{
	margin: auto;
	background: #2E4053;
	}


ul.navbar {
	   overflow: hidden;
		width: "100%";
		text-align: center;
	   display: inline-block;
	   }

ul.navbar li {float: top ;
	      border: 2px solid black;
	      border-radius: 5px; 
		  display: inline-block;
	      }
	      
a.navbar:link, a.navbar:visited {display: block;
				 width: 385px;
				 height: 20px;
				 font-weight: bold;
				 color: white;
				 background-color: orange; 
				 text-align: center; 
				 padding: 4px; 
				 }

a.navbar:hover, a.navbar:active	{background: rgba(0,0,0,0);
				color: orange;
				box-shadow: inset 0 0 0 3px #orange;
				 }
img.one {display:block; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	height: 200px;
	}

